{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
   <div class="col-md-8">
        <h1>Nova Equipe</h1>

        {{ form(form) }}

        <br/>   
        <a href="{{ path('equipe') }}" class="btn btn-primary">
            Ir para a lista de equipes
        </a>
        </div>
</div>
{% endblock %}
