{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Novo Membro</h1>

    {{ form(form) }}

<br/>
<div class="row">
    <div class="col-md-4">
<p>        
    <a href="{{ path('membro') }}" class="btn btn-primary">
        Ir para lista de membros
    </a>
</p> 
</div>  
</div>   
    
{% endblock %}
