{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-8">   
    <h1>Novo Membro</h1>

    {{ form(form) }}
    <br/>    
    <a href="{{ path('membro') }}" class="btn btn-primary">
        Ir para lista de membros
    </a> 
</div>  
</div>   
    
{% endblock %}
