{% extends '::base.html.twig' %}

{% block body -%}
   <div class="row">
       <div class="col-md-8">
           
       
        <h1>Novo Endereço</h1>

        {{ form(form) }}

        <!--    
        <a href="{{ path('endereco') }}">
            Ir para lista de endereço
        </a>
        -->
    
       </div>
</div>
{% endblock %}
