{% extends '::base.html.twig' %}

{% block body -%}
   <div class="row">
       <div class="col-md-8">
            <h1>Novo Cliente</h1>

            {{ form(form) }}

            <br/>    
            <a href="{{ path('cliente') }}" class="btn btn-primary">
                Ir para a lista de clientes
            </a>
        </div>
    </div>
{% endblock %}
