{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Novo Cliente</h1>

    {{ form(form) }}

    <br/>    
    <a href="{{ path('cliente') }}" class="btn btn-primary">
        Voltar para a lista de clientes
    </a>
    
{% endblock %}
